:root:root {
  --van-blue: #ff9415;
}
$theme-orange: #ff9415;
$theme-deep-orange: #fe8f27;
$theme-grey: #f3f3f3;
$theme-green: #50d400;
$theme-deep-green: #55ed89;
$theme-blue: #42c3e8;
$theme-deep-blue: #249af6;
$theme-red: #ff4800;
